<form style="margin:auto;width:600px;height: auto;" class="border p-4 rounded-3"> 
    
    <div class="signupFrm" style="background-color:ivory">
        
        <div class="wrapper">
            <div class="signup-logo">
                <img src="/assets/images/momos.jpg">
            </div>
          <h2 class="title">Sign Up</h2>
    <br>
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Email</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Username</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Mobile</label>
          </div>
    
          <div class="inputContainer">
            <input type="password" class="input" placeholder="a">
            <label for="" class="label">Password</label>
          </div>
    
          <div class="inputContainer">
            <input type="password" class="input" placeholder="a">
            <label for="" class="label">Confirm Password</label>
          </div>
    
          <input type="submit" class="submitBtn" value="Sign up">
    
          <div class="footer">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-pinterest"></a>
            <a href="#" class="fa fa-google"></a>
        </div>
        </div>
    </div>
    </form>
    